#tabs
{
  font-size:16px;
  border:none;
  margin:0;
  padding:0;
}

.tabs
{
  background-color:#FFF!important;
  padding:0!important;
}

#Hourglass
{
	position:	absolute;
	width:		4%;
	left:			48%;
	top:			45%;
	visibility:	hidden;
	cursor:		pointer;
	z-index:	20;
}

#Hourglass img
{
	width:		100%;
}

#SteadyStates
{
	border:		1px solid black;
}

#SteadyStates td
{
	text-align:	center;
	border:		1px solid black;
}

#tabTimeseries > svg {
  margin: 20px;
  min-width: 800px;
  min-height: 800px;
}

#tabTimeseries text{
  fill: black;
  font-size: 12px;
}

#currMarker {
  fill: black;
}

#legend {
  padding: 10px;
}

#legend > ul > li {
  display: inline-block;
  list-style-type: none;
}
.legend {
  height: 20px;
  width: 20px;
}

#legendOn {
  background-color: green;
}

#legendOff {
  background-color: red;
}


#buttonImportDialog
{
  margin-left:20px;
}

#sliderZoom
{
  float:right;
  width:150px;
  margin:10px;
}

#textIteration
{
  position:absolute;
  top:10px;
  left:5px;
}

#circleProgress
{
  position:absolute;
  top:4px;
}

#boxInfo
{
  position:fixed;
  top:60px;
  right:20px;
  max-width:30%;
  word-wrap:break-word;
  background-color:#ADD8E6;
  border:solid blue 1px;
  font-size:12px;
  padding:10px;
}

.dialog
{
  font-size:14px;
}

#radioFormat,#radioExport
{
  width:50%;
}

#radioSeed,#radioGraph
{
  float:right;
  width:50%;
}

#optionsScale
{
  margin-left:30px;
}

.dialogButton
{
  position:relative;
  left:40%;
  margin:20px 10px 10px;
}

#textRule
{
  width:100%;
}

#fileNetwork,#checkOptions
{
  margin:10px;
}
