#tabs
{
  font-size:16px;
  border:none;
  margin:0;
  padding:0;
}

.tabs
{
  background-color:#FFF!important;
  padding:0!important;
}

#tabNetwork {
  min-width: 800px;
  min-height: 800px;
}

#textRules {
    display: inline;
    vertical-align: top;
    -webkit-appearance: none;
    font-family: monospace;
    box-shadow: 10px 10px 5px #888;
   -webkit-box-shadow: 10px 10px 5px #888;
   -moz-box-shadow: 10px 10px 5px #888;
}

#divRuleHelp {
    padding-top: 15px;
    padding-left: 5px;
    border: none;
    display: inline-block;
    text-align: left;
}

#divRuleHelp td {
    text-align: center;
}

#SteadyStates
{
    border: 1px solid black;
}

#SteadyStates td
{
    text-align: center;
    border: 1px solid black;
}

#divTimeseries > svg {
  margin: 20px;
  min-width: 800px;
  min-height: 800px;
}

#divTimeseries text{
  fill: black;
}

#currMarker {
  fill: black;
}

#legend {
  padding: 10px;
}

#legend > ul > li {
  display: inline-block;
  list-style-type: none;
}
.legend {
  height: 20px;
  width: 20px;
}

#buttonImportDialog
{
  margin-left:20px;
}

#sliderZoom
{
  float:right;
  width:150px;
  margin:10px;
}

#textIteration
{
  position:absolute;
  top:10px;
  left:5px;
}

#circleProgress
{
  position:absolute;
  top:4px;
}

#boxInfo
{
  position:fixed;
  top:60px;
  right:20px;
  max-width:30%;
  word-wrap:break-word;
  background-color:#ADD8E6;
  border:solid blue 1px;
  font-size:12px;
  padding:10px;
}

.dialog
{
  font-size:14px;
}

#radioFormat,#radioExport
{
  width:50%;
}

#radioSeed,#radioGraph
{
  float:right;
  width:50%;
}

#optionsScale
{
  margin-left:30px;
}

.dialogButton
{
  position:relative;
  left:40%;
  margin:20px 10px 10px;
}

#textRules
{
  min-width: 800px;
  min-height: 600px;
  margin: 10px;
}

#fileNetwork,#checkOptions
{
  margin:10px;
}
